<div class="sort flex-between mt-[40px]">
    <h1 class="text-[35px] font-bold">Burger</h1>
    <div class="">
        <select class="font-semibold text-lg" name="sort" id="sort">
            <option class="lowest" value="">Lowest price</option>
            <option value="">Highest price</option>
        </select>
    </div>
</div>
<section class="product__list mt-8 mb-8 grid grid-cols-4 gap-20">
    <% menu.forEach((menu) => { %>
        <% if(menu.type === 'burger') { %>
            <div class="product__item cursor-pointer">
                <div>
                    <img class="product--image mx-auto mb-4" src="<%= menu.image %>" alt="">
                </div>
                <div class="product__content">
                    <div class="flex-align-ct">
                        <p class="font-bold text-xl">
                            <%= menu.name %>
                        </p>
                        <span class="text-base text-orange ml-2 font-semibold">
                            (<%= menu.size %>)
                        </span>
                    </div>
                    <div class="flex-between">
                        <div>
                            <div class="text-xs text-orange">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <div>
                                <span class="font-bold text-orange">$</span>
                                <span class="text-xl font-bold"><%= menu.price %></span>
                            </div>
                        </div>
                        <button data-pizza = "<%= JSON.stringify(menu) %> " class="add-to-cart bg-orange w-[30px] h-[30px] font-bold text-lg flex-center text-white rounded-2xl">
                            <i class="fa-sharp fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        <% } %> 
    <% }) %>
</section>

<!-- <section class="product__list mt-8 mb-8 grid grid-cols-4 gap-20">
    <div class="product__item cursor-pointer">
        <div>
            <img class="max-w-[170px] mx-auto mb-4" src="" alt="">
        </div>
        <div class="product__content">
            <div class="flex-align-ct">
                <p class="font-bold text-xl">
                    
                </p>
                <span class="text-base text-orange ml-2 font-semibold">
                    
                </span>
            </div>
            <div class="flex-between">
                <div>
                    <div class="text-xs text-orange">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div>
                        <span class="font-bold text-orange">$</span>
                        <span class="text-xl font-bold"></span>
                    </div>
                </div>
                <button class="add-to-cart bg-orange w-[30px] h-[30px] font-bold text-lg flex-center text-white rounded-2xl">
                    <i class="fa-sharp fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</section> -->