<section class="cart">
    <% if(session.cart){ %>
        <!-- <div class="flex items-center h-14" >
            <img src="/img/cart-black.png" alt="">
            <h1 class="font-semibold text-2xl ml-3 ">Order Summary</h1>
        </div> -->
    <div class="order flex mt-[40px] gap-24 px-5 py-5">
        <div class="pizza__list flex-1 overflow-hidden">
            <div class="flex-between mb-12">
                <h1 class="text-2xl font-bold flex-center">
                    Shopping Cart
                </h1>
                <h1 class="text-2xl font-bold "><%= session.cart.totalItems %> items </h1>
            </div>
            <div class="h-[49.5vh] overflow-hidden overflow-y-scroll list__cart pr-3">
                <% for(let pizza of Object.values(session.cart.items)) { %>
                    <div class="order__item flex items-center justify-between border-gray border-opacity-30 border-y-[1px] py-4">
                        <div class="flex-align-ct">
                            <img class="max-w-[90px]" src="/img/<%= pizza.item.image %>" alt="">
                            <div class="ml-3">
                                <p class="text-xl font-semibold w-[200px]"><%= pizza.item.name %></p>
                                <p><%= pizza.size %></p>
                            </div>
                        </div>
                        <div class="oder__number--of flex-align-ct ml-40">
                            <span class="font-bold m-2 "><%= pizza.qty %> pcs</span>
                        </div>
                        <div class="flex-align-ct">
                            <div class="oder__price text-xl font-bold ml-7 mr-5 w-[60px]">
                                <%= pizza.item.price *  pizza.qty%> $
                            </div>
                            <div class="oder__delete font-bold text-xl">
                                <svg width="18" height="21" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.20928 3.57463L3.20928 2.22539C3.20928 1.86755 3.35143 1.52437 3.60446 1.27134C3.85749 1.01831 4.20067 0.87616 4.55851 0.87616L7.25698 0.87616C7.61482 0.87616 7.958 1.01831 8.21103 1.27134C8.46406 1.52437 8.60622 1.86755 8.60622 2.22539V3.57463M10.6301 3.57463L10.6301 13.0193C10.6301 13.3771 10.4879 13.7203 10.2349 13.9733C9.98185 14.2264 9.63867 14.3685 9.28083 14.3685L2.53466 14.3685C2.17682 14.3685 1.83364 14.2264 1.58061 13.9733C1.32758 13.7203 1.18542 13.3771 1.18542 13.0193L1.18542 3.57463L10.6301 3.57463Z" stroke="#C7C8D2" stroke-width="1.3155" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                        
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            <a href="/" class="flex-align-ct mt-8 text-orange">
                <i class="fa-solid fa-arrow-left text-lg mr-2"></i>
                <h1 class="text-xl font-semibold">Continue Shopping</h1>
            </a>
        </div>
        <div class="mb-12 w-[30%]">
            <h1 class="text-2xl font-bold mb-10">Order Summary</h1>
            <form action="" class="">
                <h1 class="text-xl font-medium mb-4">Phone Number</h1>
                <input class="border border-gray border-opacity-40 p-2 w-[100%] mb-2" type="text" placeholder="Phone Number">
                <h1 class="text-xl font-medium mb-4 mt-4">Address</h1>
                <input class="border border-gray border-opacity-40 p-2 w-[100%]" type="text" placeholder="Address">
                <h1 class="text-xl font-medium mb-4 mt-4">Message</h1>
                <input class="border border-gray border-opacity-40 p-2 w-[100%]" type="text" placeholder="Message">

                <div class="flex-between mt-10">
                    <span class="font-semibold mr-2 text-xl">Total Amount: </span>
                    <span class="font-bold text-2xl"><%= session.cart.totalPrice %>$</span>
                </div>

                <div>
                    <button class="btn-primary mt-10 w-[100%]"type="submit"> Order Now</button>
                </div>
            </form>
        </div>
    </div>
    <% } else { %>
    <div class="empty-cart">
        <div class="container mx-auto text-center">
            <h1 class="text-[40px] font-bold mt-[40px]">Cart Empty</h1>
            <p>your cart empty add something</p>
            <img class="mx-auto w-[50%]" src="/img/nocart.png" alt="">
            <a class="btn-primary" href="/">Keep Shopping</a>
        </div>
    </div>
    <% } %>
</section>